---
---
@import "{{ site.theme }}";

#header {
    display: none !important;
}

#main_content {
    margin-left: 0 !important;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

body {
    background-position: top center;
}
